description = "Seiten-Kopf"

==
<div>
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>

        <ul class="uk-slideshow-items" uk-height-viewport=offset-top:true>
            {% for i in [1,2,3] %}
            <li>
                {% component 'imageuploader' item=this.page.id~i class="uk-background-cover" leaveOpen=true size=1700 attributes='uk-height-viewport=offset-top:true' tag="div" %}
                    <div class="uk-position-bottom-left uk-position-large uk-light">
                        <h1>{% component 'contenteditor' file='header/link'~i~'.htm' fixture="span" %}</h1>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-position-bottom-center uk-position-small"></ul>
    </div>
</div>
