description = "Navigation - Seitennavigation"

==
<?php
function onStart() {
    $lengths = [];
    $url = $this->pageUrl($this->page->id);
    foreach($this->mainMenuItems as $menuItem) {
        if ($menuItem->url && ($url == $menuItem->url || strpos($url, $menuItem->url) !== false)) {
            $this['activeMain'] = $menuItem->url;
        }
        if (isset($menuItem->items) && count($menuItem->items)) {
            $lengths[$menuItem->url] = 0;
            foreach($menuItem->items as $subItem) {
                if ($this->pageUrl('start') != $url && ($url == $subItem->url || strpos($subItem->url, $this->page->url) !== false)) {
                    $this['activeMain'] = $menuItem->url;
                    $this['activeSub'] = $subItem->url;
                }
                if (isset($subItem->viewBag) && (!isset($subItem->viewBag['isHidden']) || !$subItem->viewBag['isHidden'])) {
                    $lengths[$menuItem->url] += 1;
                }
            }
        }
    }
    $this['lengths'] = $lengths;
}
?>
==
<div id="side-menu" uk-offcanvas="overlay: true;">
    <nav class="uk-offcanvas-bar uk-flex uk-flex-column" style="background-color: #b6a6a1">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <ul class="uk-nav uk-nav-primary uk-nav-default uk-margin-auto-vertical">
            <li class="uk-nav-header">
                {{app_name}}
            </li>
            <li class="uk-nav-divider"></li>
            {% for item in mainMenuItems %}
            {% if not item.viewBag.isHidden %}
            <li class="{{ activeMain == item.url ? 'uk-active' : ''}} {{item.viewBag.cssClass}}">
                <a href="{{ item.url }}">{{ item.title }}</a>
                {% if (item.items | length) and (lengths[item.url] > 0) %}
                <ul class="uk-nav-sub">
                    {% for subItem in item.items %}
                    {% if not subItem.viewBag.isHidden %}
                    <li class="{{ activeSub == subItem.url ? 'uk-active' : ''}}">
                        <a href="{{ subItem.url }}">{{ subItem.title}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>
