description = "Navigation - Hauptnavigation"

==
<?php
function onStart() {
    $lengths = [];
    $url = $this->pageUrl($this->page->id);
    foreach($this->mainMenuItems as $menuItem) {
        if ($menuItem->url && ($url == $menuItem->url || strpos($url, $menuItem->url) !== false)) {
            $this['activeMain'] = $menuItem->url;
        }
        if (isset($menuItem->items) && count($menuItem->items)) {
            $lengths[$menuItem->url] = 0;
            foreach($menuItem->items as $subItem) {
                if ($this->pageUrl('start') != $url && ($url == $subItem->url || strpos($subItem->url, $this->page->url) !== false)) {
                    $this['activeMain'] = $menuItem->url;
                    $this['activeSub'] = $subItem->url;
                }
                if (isset($subItem->viewBag) && (!isset($subItem->viewBag['isHidden']) || !$subItem->viewBag['isHidden'])) {
                    $lengths[$menuItem->url] += 1;
                }
            }
        }
    }
    $this['lengths'] = $lengths;
}
?>
==
<div uk-sticky="bottom: main" class="uk-background-muted">
    <div class="uk-container">
        <nav class="uk-navbar">
            <div class="uk-navbar-left">
                <a href="/" class="uk-navbar-item uk-logo">
                    <svg width="28" height="34" viewBox="0 0 28 34" xmlns="http://www.w3.org/2000/svg"
                         class="uk-margin-small-right uk-svg" data-svg="../images/uikit-logo.svg">
                        <polygon fill="#fff" points="19.1,4.1 13.75,1 8.17,4.45 13.6,7.44 "></polygon>
                        <path fill="#fff"
                              d="M21.67,5.43l-5.53,3.34l6.26,3.63v9.52l-8.44,4.76L5.6,21.93v-7.38L0,11.7v13.51l13.75,8.08L28,25.21V9.07 L21.67,5.43z"></path>
                    </svg> UIkit
                </a>
            </div>
            <div class="uk-navbar-center uk-visible@m">
                <ul class="uk-navbar-nav">
                    {% for item in mainMenuItems %}
                    {% if not item.viewBag.isHidden %}
                    <li class="{{ activeMain == item.url ? 'uk-active' : ''}} {{item.viewBag.cssClass}}">
                        <a href="{{ item.url }}">{{ item.title }}</a>
                        {% if (item.items | length) and (lengths[item.url] > 0) %}
                        <div class="uk-navbar-dropdown" *ngIf="page.subPages" uk-dropdown="offset: -20; flip: false" uk-toggle>
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                {% for subItem in item.items %}
                                {% if not subItem.viewBag.isHidden %}
                                <li class="{{ activeSub == subItem.url ? 'uk-active' : ''}}">
                                    <a href="{{ subItem.url }}">{{ subItem.title}}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="uk-navbar-left uk-hidden@m">
                <a uk-navbar-toggle-icon="" href="#side-menu" uk-toggle=""
                   class="uk-navbar-toggle uk-icon uk-navbar-toggle-icon">
                    <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                         data-svg="navbar-toggle-icon">
                        <rect y="9" width="20" height="2"></rect>
                        <rect y="3" width="20" height="2"></rect>
                        <rect y="15" width="20" height="2"></rect>
                    </svg>
                </a> Menü
            </div>

            <div class="uk-navbar-right">
                {% if (locales | length) > 1 %}
                <ul class="uk-iconnav">
                    {% for code, name in locales %}
                    <li class="{{ code == activeLocale ? 'uk-active' : '' }}">
                        <a href="#" class="uk-text-uppercase" data-request="onSwitchLocale" data-request-data="locale: '{{ code }}'">
                            {{ code }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </nav>
    </div>
</div>
