$global-primary-background: $primaryColor;
$global-secondary-background: $secondaryColor;

$global-font-family: 'Open Sans', sans-serif;
$base-body-font-weight: 300;

$lightbox-background: rgba(255,255,255, .85);
$table-footer-font-size: 1rem;
$offcanvas-bar-width: 340px;
$global-link-color: lighten($global-primary-background, 10);

$dropdown-padding: 10px;
$global-link-color: $global-primary-background;
$global-link-hover-color: $global-primary-background;

@import "uikit/variables-theme";

$dropdown-nav-font-size: $global-font-size;
