description = "Standard-Layout"

[contenteditor]

[imageuploader]

[localePicker]
forceUrl = 0

[cookieBanner]
include_css = 1
update_partial = "gdpr"
update_selector = "#gdpr-reload"
cookie_manager_page = "cookies"

[consentManager]
include_assets = 1
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'components/meta.htm' %}
        {% partial 'components/styles.htm' %}
    </head>

    <body class="page-{{ this.page.id }}">
        <header>
        {% partial 'components/navigation' %}
        {% partial 'components/keyvisual' %}
        </header>

        <main uk-height-viewport="expand: true">
        {% page %}
        </main>

        <footer>
        {% partial "components/footer" %}
        </footer>
        {% partial 'components/scripts.htm' %}
    </body>
</html>
